<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhq.mapper.NewsBackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dhq.entity.NewsBack">
        <id column="ID" property="id" />
        <result column="TABLENAME" property="tablename" />
        <result column="FIELDNAME" property="fieldname" />
        <result column="ENCRYPTVALUE" property="encryptvalue" />
        <result column="CREATETIME" property="createtime" />
        <result column="BUSINESSID" property="businessid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TABLENAME, FIELDNAME, ENCRYPTVALUE, CREATETIME, BUSINESSID
    </sql>

</mapper>
